.vsplit-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.vsplit-section {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > * {
    align-items: stretch;
    height: 100%;
  }
}
