.textArea {
  background-color: $light-0;
  padding: $padding-fields;
  border: {
    width: 0.15em;
    color: $light-2;
    radius: $border-radius;
    style: solid;
  }
  font: {
    family: Lato;
  }

  &::placeholder {
    color: $light-2;
  }

  &:focus {
    outline-color: $light-2;
  }
}
