$primary-0: #e1bd00;
$primary-1: #c8a800;
$primary-2: #c8a800;

$white: #ffffff;
$light-0: #f6f6f6;
$light-1: #ececec;
$light-2: #d7d7d7;

$padding-0: 1em;

$transition-hover: 0.15s;

$border-width-0: 0.16em;
$border-radius: 0.25em;
$drop-shadow-0: 0px 4px 20px rgba(0, 0, 0, 0.15);
